{% extends 'base.html.twig' %}

{% block tile 'Se connecter' %}

{% block body %}

    <div class="container mt-4">
        {% if error %}
            <div class="alert alert-danger">
                {{ error.message }}
            </div>
        {% endif %}
        <form action="{{ path('login') }}" method="post">
            <div class="form-group">
                <label for="username">Nom d'utilisateur</label>
                <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}">
            </div>
            <div class="form_group">
                <label for="password">Mot de passe</label>
                <input type="text" id="password" name="_password" class="form-control">
            </div>
            <button  class="btn btn-primary">Login</button>
        </form>
    </div>

{% endblock %}